.privacy-header {
    text-align: center;
    padding: 6.4rem 0;
}

.policy-main-title {
    font-size: 70px;
    margin-bottom: 20px;
}

.last-updated {
    font-size: 1.3rem;
    font-weight: 700;
    color: #666;
}

.policy-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 35px;
    display: flex;
    position: sticky;
    background: white;
    top: 137px;
    padding: 20px 0;
    gap: 14px;
}

.policy-row {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    font-size: 20px;
    line-height: 1.7;
    margin: 0 0 20px 20px;
}

.policy-number {
    font-weight: 600;
    color: #222;
}

.policy-content {
    flex: 1;
    line-height: 1.7;
    color: #444;
}

.policy-row.sub {
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.policy-link {
    color: #5b3df5;
    text-decoration: none;
    word-break: break-word;
}

.policy-link:hover {
    text-decoration: underline;
}

.legal-footer {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #333;
    font-size: 14px;
    opacity: 0.7;
}

@media(max-width: 1280px)
{
    .section-title
    {
        top: 90px;
    }
}

@media(max-width:540px) {
    .policy-main-title {
        font-size: 49px;
        margin-bottom: 10px;
    }
}