html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "area-normal", sans-serif;
}

body {
    padding-top: 100px;
}

.container {
    max-width: 1480px;
    width: 96%;
    margin: 0 auto;
    padding: 40px 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

li {
    list-style: none;
}

i {
    line-height: 20px;
}

.page {
    font-size: 50px;
    height: 86vh;
    display: grid;
    place-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}