* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "area-normal", sans-serif;
}

.container {
    max-width: 1480px;
    width: 96%;
    margin: 0 auto;
    padding: 40px 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

li {
    list-style: none;
}

i {
    line-height: 20px;
}

.page {
    margin-top: 100px;
}
